<form id="delete-beach-btn-form" method="post" action="{{ path('app_admin_book_delete', {'id': book.id}) }}"
      onsubmit='return confirm("Deseja deletar o livro \"{{ book.title }}\"? A ação é irreversível!");'>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
    <button class="btn btn-sm btn-danger">Deletar</button>
</form>
