<form id="delete-beach-btn-form" method="post" action="{{ path('app_admin_author_delete', {'id': author.id}) }}"
      onsubmit='return confirm("Deseja deletar o(a) autor(a) \"{{ author.firstName }}\"? A ação é irreversível!");'>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ author.id) }}">
    <button class="btn btn-sm btn-danger">Deletar</button>
</form>
